@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), 
      url('../font/NotoSansKr-Light.woff2') format('woff2'), 
      url('../font/NotoSansKr-Light.woff') format('woff'); 
}
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), 
      url('../font/NotoSansKr-Regular.woff2') format('woff2'), 
      url('../font/NotoSansKr-Regular.woff') format('woff'); 
}
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
    url('../font/NotoSansKr-Medium.woff2') format('woff2'), 
    url('../font/NotoSansKr-Medium.woff') format('woff'); 
}
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('../font/NotoSansKr-Bold.woff2') format('woff2'), 
    url('../font/NotoSansKr-Boldwoff') format('woff'); 
}

@font-face {
font-family: 'HanaB';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaB.woff2') format('woff2'),
      url('../font/HanaB.woff') format('woff'); 
}

@font-face {
font-family: 'HanaCM';
font-style: normal;
font-weight: 600;
src: local('HanaCM'),
      url('../font/HanaCM.woff2') format('woff2'),
      url('../font/HanaCM.woff') format('woff'); 
}

@font-face {
font-family: 'HanaL';
font-style: normal;
font-weight: 600;
src: local('HanaL'),
      url('../font/HanaL.woff2') format('woff2'),
      url('../font/HanaL.woff') format('woff'); 
}

@font-face {
font-family: 'HanaM';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaM.woff2') format('woff2'),
      url('../font/HanaM.woff') format('woff'); 
}

@font-face {
font-family: 'HanaUL';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaUL.woff2') format('woff2'),
      url('../font/HanaUL.woff') format('woff'); 
}

html, body {font-family: 'Noto Sans KR'; height: 100%; width: 100%; min-width: 1440px;}

#skipNav {position: absolute; top: -200px; left: 0;}

/* main
   ========================================================================== */
.wrap {width: 100%; min-width: 1440px; overflow: auto; height: 100%;}

/*
 * header
 */
header {position: absolute; width: 100%; text-align: center; background: transparent; z-index: 99999; transition: 0.5s;}
header .headerInner {min-width:1440px; width: 100%; margin: 0 auto; color: #fff; position: relative; z-index: 2;}
header .headerInner h1 {float: left; padding: 35px 0 35px 140px; margin: 0;}
header .headerInner h1 a {height: 30px; display: block; line-height: 30px; font-family: HanaB; font-size: 20px; color: #fff;}
header .headerInner nav {float: right; overflow: hidden;}
header .headerInner nav > ul {overflow: hidden; margin-right: 99px; padding: 35px 0;}
header .headerInner nav > ul > li {float: left; width: 110px;  margin: 0;}
header .headerInner nav > ul > li > a {height: 30px; font-family: HanaB; font-size: 15px; line-height: 30px; color: #fff;}
header .headerInner .logo {font-size: 20px; color:#fff;}
header .headerInner nav > ul ul {display: none;}

header:hover {background: rgb(255, 255, 255, .8);}
header:hover:after {display: block;  content: '';  position: absolute;  top: 100px;  left: 0;  z-index: 1;  height: 1px;  width: 100%;  background-color: #000; opacity: 0.1;}
header:hover .headerInner nav > ul ul {display: block; margin-top: 64px; width: 110px;}
header:hover .headerInner nav > ul ul a {display: block; width: 100%; height: 34px; line-height: 34px; font-size: 15px; letter-spacing: -0.5px; text-align: center; color: #fff;}
header:hover a {color: #000 !important;}
header.black a {color: #000 !important;}

/*
 * contents
 */
.swiper-container {width: 100%; height: 100%;}
.v1 {background: url(../img/visual1.png) no-repeat; background-size: cover;}
.v2_1_1 {background: url(../img/visual2_1_1.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_1_2 {background: url(../img/visual2_1_2.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_1_3 {background: url(../img/visual2_1_3.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_2_1 {background: url(../img/visual2_2_1.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_2_2 {background: url(../img/visual2_2_2.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_2_3 {background: url(../img/visual2_2_3.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_3_1 {background: url(../img/visual2_3_1.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_3_2 {background: url(../img/visual2_3_2.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v2_3_3 {background: url(../img/visual2_3_3.png) no-repeat; background-size: cover; opacity: 1 !important;}
.v3 {background: url(../img/visual3.png) no-repeat; background-size: cover;}

section {overflow:hidden; position: relative; width:100%; min-width: 1440px; height:100%;}
section img {width: 100%;}

section .mainTitle1 {position: absolute; left: 140px; top: 420px;}
section .mainTitle1 h2 {color: #fff; font-size: 72px; font-family: 'HanaB'; line-height: 1.33;}
section .mainTitle1 p {margin-top: 24px; color: #fff; font-size: 16px; line-height: 1.33; height: 24px; font-weight: 500;}

section .mainTitle2 {position: absolute; left: 140px; top: 400px; }
section .mainTitle2 h2 {color: #fff; font-size: 56px; font-family: 'HanaB'; line-height: 1.29;}
section .mainTitle2 p {margin-top: 24px; color: #fff; font-size: 16px; font-weight: 500; line-height: 1.75; letter-spacing: -0.5px;}

.contents .tabWrap {position: relative; background: #fff;}
.contents .tabWrap #fromBg {width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.contents .tabWrap #toBg {width: 100%; height: 100%; position: absolute; transition-duration: 300ms; opacity: 0; left: 0; top: 0;}

.contents .tabWrap .tabHeader {position: absolute; left: 50%; margin-left: -462px; top: 270px; width: 924px; height: 250px;}
.contents .tabWrap .tabHeader ul {position: relative; z-index: 2; overflow: hidden; width: 420px; margin: 0 auto;}
.contents .tabWrap .tabHeader li {float: left; width: 140px; height: 48px;}
.contents .tabWrap .tabHeader li.on {border-radius: 30.5px; background-color: #9bc452;}
.contents .tabWrap .tabHeader li a {display: block; width: 100%; line-height: 48px; opacity: 0.6; font-family: HanaM; font-size: 18px; text-align: center; color: #ffffff;}
.contents .tabWrap .tabHeader:after {display: block;  content: '';  position: absolute;  z-index: 1; top: 0;  left: 50%; margin-left: -210px; width: 420px; height: 48px; opacity: 0.3; border-radius: 30.5px; background-color: #000000;}
.contents .tabWrap .tabHeader div {margin: 48px auto 0;}

.contents .tabWrap .tabHeader p {display: none;}
.contents .tabWrap .tabHeader p.on {display: block; width: 924px; height: 144px; font-family: HanaB; font-size: 56px; line-height: 1.29; text-align: center; color: #ffffff;}

.contents .tabWrap .tabBody {position: absolute; bottom: 0; width: 100%;}
.contents .tabWrap .tabBody section {display: none;}
.contents .tabWrap .tabBody section.on {display: block;}

.contents .tabWrap .boxWrap {height: 400px; display: flex; justify-content: space-around;}
.contents .tabWrap .boxWrap li {height: 400px; flex-grow: 1; width: 33%; transition: 0.5s;}
.contents .tabWrap .boxWrap li:nth-child(2) {border-left: 1px solid rgb(255, 255, 255, .3); border-right: 1px solid rgb(255, 255, 255, .3);}
.contents .tabWrap .boxWrap:after {display: block;  content: ''; position: absolute;  z-index: 1; top: 0;  left: 0; height: 1px; width: 100%; opacity: 0.15; background-color: #ffffff;}

.contents .tabWrap .boxWrap li h2 {width: 72px; height: 32px; margin: 163px auto 0; border-radius: 16px; border: solid 1px rgba(255, 255, 255, 0.5); font-size: 14px; line-height: 32px; text-align: center; color: #fff;}
.contents .tabWrap .boxWrap li > p {height: 32px; font-size: 24px; font-weight: bold; line-height: 1.33; text-align: center; color: #ffffff; margin-top: 8px;}
.contents .tabWrap .boxWrap li div {display: none;}

.contents .tabWrap .boxWrap li.on {background: #fff;}
.contents .tabWrap .boxWrap li.on h2 {border: solid 1px #9bc452; color: #9bc452; margin-top: 131px;}
.contents .tabWrap .boxWrap li.on > p {color: #000; padding-bottom: 20px;}
.contents .tabWrap .boxWrap li.on div {display: block;}
.contents .tabWrap .boxWrap li.on div h3 {height: 23px; font-size: 15px; font-weight: bold; line-height: 1.53; letter-spacing: -0.5px; text-align: center; color: #000000;}
.contents .tabWrap .boxWrap li.on div p {padding-bottom: 12px; opacity: 0.6; font-size: 15px; line-height: 1.53; letter-spacing: -0.5px; text-align: center; color: #000000;}

.contents .tabWrap section:nth-child(1) .boxWrap li:nth-child(1).on h2 {margin-top: 75px;} 
.contents .tabWrap section:nth-child(1) .boxWrap li:nth-child(2).on h2 {margin-top: 129px;} 
.contents .tabWrap section:nth-child(2) .boxWrap li:nth-child(2).on h2 {margin-top: 142px;} 
.contents .tabWrap section:nth-child(3) .boxWrap li:nth-child(3).on h2 {margin-top: 142px;} 

.career > div {margin: 258px 0 0 240px;}
.career > div > p {margin-bottom: 60px; width: 504px; height: 288px; font-family: HanaB; font-size: 56px; line-height: 1.29; color: #111111;}
.career > div > a {width: 160px; height: 56px; padding: 16px 42px 16px 43px; border-radius: 28px; background-color: #9bc452; color: #fff;}


/*
 * footer
 */
footer {position: absolute; bottom: 0; width: 100%; min-width: 1440px; height: 230px; background: #fff;}
footer .footerInner {margin: 40px 0 0 140px;}
footer .footerT {height: 36px; overflow: hidden; position: relative;}
footer .footerT > ul {display: flex;}
footer .footerT > ul > li {margin: 0 0 0 20px;}
footer .footerT > ul > li:first-child {margin: 0;}
footer .footerT > ul > li:first-child::before {content:none;}
footer .footerT > ul > li::before {content: ''; display: inline-block; position: relative; top: -1px;   margin: 0 20px 0 0; width: 1px; height: 12px; vertical-align: middle; background: #ccc;}
footer .footerT > ul > li > a {color: #333; font-size: 13px; font-weight: bold;}

footer .familySite {position: absolute; right: 140px; top: 0; width: 160px; height: 36px; padding: 0 10px; border: 1px solid #ccc; border-radius: 4px; color: #666; font-size: 13px;}

footer .footerB {font-size: 13px; color: #666666;}
footer .footerB li {line-height: 22px;}
footer .footerB li span {padding-left: 16px;}
footer .footerB li span:nth-child(1) {padding-left: 0;}
footer .footerB ul {margin-bottom: 20px;}
