@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'), 
      url('../font/NotoSansKr-Light.woff2') format('woff2'), 
      url('../font/NotoSansKr-Light.woff') format('woff'); 
}

@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), 
      url('../font/NotoSansKr-Regular.woff2') format('woff2'), 
      url('../font/NotoSansKr-Regular.woff') format('woff'); 
}

@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
    url('../font/NotoSansKr-Medium.woff2') format('woff2'), 
    url('../font/NotoSansKr-Medium.woff') format('woff'); 
}

@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('../font/NotoSansKr-Bold.woff2') format('woff2'), 
    url('../font/NotoSansKr-Boldwoff') format('woff'); 
}

@font-face {
font-family: 'HanaB';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaB.woff2') format('woff2'),
      url('../font/HanaB.woff') format('woff'); 
}

@font-face {
font-family: 'HanaCM';
font-style: normal;
font-weight: 600;
src: local('HanaCM'),
      url('../font/HanaCM.woff2') format('woff2'),
      url('../font/HanaCM.woff') format('woff'); 
}

@font-face {
font-family: 'HanaL';
font-style: normal;
font-weight: 600;
src: local('HanaL'),
      url('../font/HanaL.woff2') format('woff2'),
      url('../font/HanaL.woff') format('woff'); 
}

@font-face {
font-family: 'HanaM';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaM.woff2') format('woff2'),
      url('../font/HanaM.woff') format('woff'); 
}

@font-face {
font-family: 'HanaUL';
font-style: normal;
font-weight: 600;
src: local('HanaB'),
      url('../font/HanaUL.woff2') format('woff2'),
      url('../font/HanaUL.woff') format('woff'); 
}

html {height: 100%;}
html, body {font-family: 'Noto Sans KR'; width: 100%; min-width: 1440px; overflow-x: auto !important;}
#skipNav {position: absolute; top: -200px; left: 0; height: 0; width: 0; overflow: hidden;}
body.main {height: 100%;}

/* header */
header {position: absolute; top: 0; left: 0; width: 100%; min-width: 1440px; text-align: center; background: transparent; z-index: 99999; transition: 0.5s;}
header .headerInner {min-width:1440px; width: 100%; margin: 0 auto; color: #fff; position: relative; z-index: 2;}
header .headerInner h1 {float: left; padding: 35px 0 35px 140px; margin: 0;}
header .headerInner h1 a {height: 30px; display: block; line-height: 30px; font-family: HanaB; font-size: 20px; color: #fff;}
header .headerInner nav {float: right; overflow: hidden;}
header .headerInner nav > ul {overflow: hidden; margin-right: 99px; padding: 35px 0;}
header .headerInner nav > ul > li {float: left; width: 110px;  margin: 0;}
header .headerInner nav > ul > li > a {height: 30px; font-family: HanaB; font-size: 15px; line-height: 30px; color: #fff;}
header .headerInner .logo {font-size: 20px; color:#fff;}
header .headerInner nav > ul ul {display: none;}
header .headerInner nav > ul > li:hover {position: relative;}
header .headerInner nav > ul > li:hover > a {font-family: HanaB; font-size: 15px; color: #9bc452 !important; transition: 0.3s;}
header .headerInner nav > ul > li:after {position: absolute; content: ''; display: block; top: 61px; left: 50%; background-color: #9bc452; transform: translateX(-50%); width: 0; height: 4px;}
header .headerInner nav > ul > li:hover:after{width: 70px; transition: all .3s ease-out;}
header .headerInner nav > ul > li > ul > li > a:hover {text-decoration: underline;}

header:hover {background: rgb(255, 255, 255);}
header:hover:after {display: block;  content: '';  position: absolute;  top: 100px;  left: 0;  z-index: 1;  height: 1px;  width: 100%;  background-color: #000; opacity: 0.1;}
header:hover .headerInner nav > ul ul {display: block; margin-top: 64px; width: 110px;}
header:hover .headerInner nav > ul ul a {display: block; width: 100%; height: 34px; line-height: 34px; font-size: 15px; letter-spacing: -0.5px; text-align: center; color: #fff;}
header:hover a {color: #000 !important;}
header.black a {color: #000 !important;}

/* footer */
footer {width: 100%; min-width: 1440px; background: #fff; position: relative; overflow: hidden; padding: 40px 0 40px 140px;}
footer .footerT {height: 36px; overflow: hidden; position: relative;}
footer .footerT > ul {display: flex;}
footer .footerT > ul > li {margin: 0 0 0 20px;}
footer .footerT > ul > li:first-child {margin: 0;}
footer .footerT > ul > li:first-child::before {content:none;}
footer .footerT > ul > li::before {content: ''; display: inline-block; position: relative; top: -1px;   margin: 0 20px 0 0; width: 1px; height: 12px; vertical-align: middle; background: #ccc;}
footer .footerT > ul > li > a {color: #333; font-size: 13px; font-weight: bold;}

footer .familySite {position: absolute; right: 140px; top: 0; width: 160px; height: 36px; padding: 0 10px; border: 1px solid #ccc; border-radius: 4px; color: #666; font-size: 13px;}

footer .footerB {font-size: 13px; color: #666666;}
footer .footerB li {line-height: 22px;}
footer .footerB li span {padding-left: 16px;}
footer .footerB li span:nth-child(1) {padding-left: 0;}
footer .footerB ul {margin-bottom: 20px;}

/* main */
.wrap {width: 100%; min-width: 1440px; overflow: hidden; overflow-x: auto;}
.main .wrap {height: 100%; background: url(../img/visual1.jpg); background-size: cover;}

/* fullpage */
#fullpage {height: 100%;}
#fullpage > section {position: relative; min-width: 1440px; height: 100%;}
#fullpage > section div.ment {position: absolute; left: 140px; top: 50%;}

#fullpage .section:nth-child(1) .ment {margin-top: -120px;}
#fullpage .section:nth-child(1)  h2 {color: #fff; font-size: 72px; font-family: 'HanaB'; line-height: 1.33;}
#fullpage .section:nth-child(1)  p {margin-top: 24px; color: #fff; font-size: 16px; line-height: 1.33; height: 24px; font-weight: 500;}

#fullpage .section.v1 {background: url(../img/visual1.jpg) no-repeat; background-size: cover;}
#fullpage .section:nth-child(2) .ment {margin-top: -140px;}
#fullpage .section:nth-child(2) h2 {color: #fff; font-size: 56px; font-family: 'HanaB'; line-height: 1.29;}
#fullpage .section:nth-child(2) p {margin-top: 24px; color: #fff; font-size: 16px; font-weight: 500; line-height: 1.75; letter-spacing: -0.5px;}

#fullpage .section:nth-child(3) {background: #bebebe;}
#fullpage .bg img {position: absolute; left: 0; top: 0; opacity: 0; transition: opacity 1s ease-in-out; width: 100%; height: 100%;}
#fullpage .bg img.on {opacity: 1;}

#fullpage .tabNav {position: absolute; left: 0; top: 50%; width: 100%; height: 460px; margin-top: -230px;}
#fullpage .tabNav .tab {position: relative; z-index: 2; overflow: hidden; width: 420px; margin: 0 auto;}
#fullpage .tabNav .tab li {float: left; width: 140px; height: 48px;}
#fullpage .tabNav .tab li.on {border-radius: 30.5px; background-color: #9bc452;}
#fullpage .tabNav .tab li h2 {display: block; width: 100%; line-height: 48px; opacity: 0.6; font-family: HanaM; font-size: 18px; text-align: center; color: #ffffff; cursor: pointer;}
#fullpage .tabNav:after {display: block;  content: '';  position: absolute;  z-index: 1; top: 0;  left: 50%; margin-left: -210px; width: 420px; height: 48px; opacity: 0.3; border-radius: 30.5px; background-color: #000000;}
#fullpage .tabNav .ment {margin: 48px auto 0;}
#fullpage .tabNav .ment li {display: none; transition: 0.5s;}
#fullpage .tabNav .ment li.on {display: block; width: 100%; height: 144px; font-family: HanaB; font-size: 56px; line-height: 1.29; text-align: center; color: #ffffff;}

#fullpage .tabBody {position: absolute; bottom: 0; width: 100%; overflow: hidden; height: 250px;}
#fullpage .tabBody ul {height: 250px; display: none; justify-content: space-around; transition: 0.5s;}
#fullpage .tabBody ul.on {display: flex;}
#fullpage .tabBody ul li {height: 250px; flex-grow: 1; width: 33%; transition: 0.5s;}

#fullpage .tabBody:after {display: block;  content: ''; position: absolute;  z-index: 1; top: 0;  left: 0; height: 1px; width: 100%; opacity: 0.15; background-color: #ffffff;}

#fullpage .tabBody li h3 {width: 72px; height: 32px; margin: 88px auto 0; border-radius: 16px; border: solid 1px rgba(255, 255, 255, 0.5); font-size: 14px; line-height: 32px; text-align: center; color: #fff;}
#fullpage .tabBody li > p {height: 32px; font-size: 24px; font-weight: bold; line-height: 1.33; text-align: center; color: #ffffff; margin-top: 8px;}
#fullpage .tabBody li > *:nth-child(3) {display: none;}
#fullpage .tabBody ul li:nth-child(2) {border-left: 1px solid rgb(255, 255, 255, .3); border-right: 1px solid rgb(255, 255, 255, .3);}
#fullpage .tabBody ul li > p:nth-child(3) {display: none; padding-bottom: 12px; opacity: 0.6; font-size: 15px; line-height: 1.53; letter-spacing: -0.5px; text-align: center; color: #000000;}

#fullpage .tabBody ul li.on {background: #fff;}
#fullpage .tabBody ul li.on h3 {border: solid 1px #9bc452; color: #9bc452; margin-top: 56px;}
#fullpage .tabBody ul li.on > p:nth-child(2) {color: #000; padding-bottom: 20px;}
#fullpage .tabBody ul li.on > p:nth-child(3) {display: block;}

#fullpage .tabBody ul:nth-child(1) li:nth-child(2).on h3 {margin-top: 55px;} 
#fullpage .tabBody ul:nth-child(2) li:nth-child(2).on h3 {margin-top: 67px;} 
#fullpage .tabBody ul:nth-child(1) li:nth-child(2).on h3 {margin-top: 55px;} 
#fullpage .tabBody ul:nth-child(3) li:nth-child(3).on h3 {margin-top: 67px;} 

#fullpage .section:nth-child(4) {background: url(../img/visual3.png) no-repeat #f7faec; background-size: cover;}
#fullpage .section:nth-child(4) .ment {left: 240px; padding-top: 80px; margin-top: -216px;}
#fullpage .section:nth-child(4) .ment > p {width: 672px; height: 216px; margin: 0 0 80px; font-family: HanaB; font-size: 56px; line-height: 1.29; color: #111111;}
#fullpage .section:nth-child(4) .ment > a {display: block; width: 160px; height: 56px; line-height: 56px; border-radius: 28px; background-color: #9bc452; color: #fff; text-align: center;}
#fullpage .section:nth-child(4) .top {position: absolute; bottom: 40px; right: 140px; cursor: pointer;}
