@charset "UTF-8";

/* main
   ========================================================================== */
body {overflow: hidden;}
.wrap {width: 100%; margin: 0 auto; overflow: hidden;}

/*
 * header
 */
header {position: absolute; width: 100%; height: 99px; text-align: center;}
header .headerInner {min-width:1440px; width: 100%; height: 99px; padding: 0 140px; margin: 0 auto; color: #fff;}
header .headerInner ul li {float: left;}



/*
 * contents
 */
section {overflow:hidden; position: relative; width:100%; height:100%;}
section img {width: 100%;}