@charset "UTF-8";



/*
 * contents - 재단소개
 */
div.intro {width: 100%; min-width: 1400px; overflow: auto; background: url(../img/sub_visual_about.jpg) no-repeat;}
section.introInner {width: 1400px; margin: 0 auto; padding-top: 260px;}
section div.introContent {width: 692px; margin: 0 auto;}
section div.introContent p:nth-child(1) {font-size: 18px; font-weight: bold; margin-bottom: 40px; letter-spacing: -0.5px;}
section div.introContent h2 {font-size: 72px; font-family: 'HanaB'; color: #111; margin-bottom: 100px; line-height: 1.33;}
section div.introContent p:nth-child(2) {font-size: 22px; line-height: 1.82; letter-spacing: -0.5px;}
section div.introContent p:nth-child(3) {font-size: 22px; line-height: 1.82; letter-spacing: -0.5px;}
section div.introContent p:nth-child(4) {font-size: 36px; font-weight: bold; margin: 48px 0 60px 0; line-height: 1.56; letter-spacing: -0.5px;}
section div.introContent img {width: 800px; height: 300px;}


/*
 * contents - 이사장 인사말
 */
div.owner {width: 1400px; margin: 0 auto; padding-top: 160px;} 
